body {
    backround-color:#FFFFEO; /* warna kuning cerah */
    font-family: arial, sans-serif; /* jenis huruf yang bersih dan mudah dibaca*/
    color: #191970; warna teks utama (biru gelap) */

  }

.kartu profil {
  widht: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah,auto menengahkan kiri/kanan */
  padding: 20px
  backraund-color: whait;
  border-radius: 15px; /* membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);/*
  text-align: center; /*menegangkan semua teks di dalam kartu */

}

.kartu-profil img {
  width: 150px;
  border-radius: 50%; /* trik untuk membuat gambar menjadi lingkaran sempurna */
